header{
    padding: 0 10%;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 999;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navLink{
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: rgb(39, 39, 39);
    font-size: 16px;
}


.navLink:hover{
    color: black;
}

.header-links{
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    header{
        padding: 0 5%;
    }
    /* nav{
        padding: 10px 0;
    } */
}